#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  border: 1px solid cornsilk;
  border-radius: 20px;
  box-shadow: 0 4px 10px cornsilk;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
